.heading-1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 400;
  text-shadow: 0px 3px 12px #000;
  text-transform: uppercase;
}

@media only screen and (max-width: 62.5em) {
  .heading-1 {
    font-size: 5rem;
  }
}

.red-text {
  color: #FF0C00;
}

.heading-2 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0px 3px 12px #000000;
}

@media only screen and (max-width: 56.25em) {
  .heading-2 {
    font-size: 1.7rem;
  }
}

.heading-3--red,
.heading-3--white {
  font-weight: 600;
  font-size: 5.5rem;
}

@media only screen and (max-width: 37.5em) {
  .heading-3--red,
  .heading-3--white {
    font-size: 4rem;
  }
}

.heading-3--red {
  color: #FF0C00;
  text-align: center;
}

.heading-3--white {
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .heading-3--white {
    font-size: 3.5rem;
  }
}

.heading-4 {
  color: #FF0C00;
}

.heading-4--white,
.heading-4,
.heading-4--black {
  font-size: 3rem;
  font-weight: 600;
}

@media only screen and (max-width: 62.5em) {
  .heading-4--white,
  .heading-4,
  .heading-4--black {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-4--white,
  .heading-4,
  .heading-4--black {
    font-size: 2rem;
  }
}

.heading-4--white {
  color: #fff;
}

.heading-4--black {
  color: #000;
}

.heading-5--red,
.heading-5--black {
  font-size: 2.4rem;
  font-weight: 600;
}

.heading-5--red {
  color: #FF0C00;
}

.heading-5--black {
  color: #000;
}

.strong-p {
  font-weight: 600;
  font-size: 2.4rem;
}

.red {
  color: #FF0C00 !important;
}

.header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.6)), to(rgba(33, 33, 33, 0.6))), url("Images/Home/Tint-2.png");
  background: linear-gradient(rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.6)), url("Images/Home/Tint-2.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .header {
    height: 120vh;
  }
}

.header__forms {
  background-color: white;
  height: 50rem;
  width: 36rem;
  border-radius: 8px;
  -webkit-box-shadow: 0 0px 6px #0000007a;
          box-shadow: 0 0px 6px #0000007a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 30%;
  text-align: center;
}

@media only screen and (max-width: 87.5em) {
  .header__forms {
    width: 30rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .header__forms {
    width: 22rem;
  }
}

.header__form {
  width: 100%;
}

.header__form__input {
  border: none;
  border-bottom: 1px solid #ABABAB;
  padding: 0.8rem;
  width: 70%;
}

.header__form__input::-webkit-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.header__form__input:-ms-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.header__form__input::-ms-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.header__form__input::placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.header__form__input:focus {
  outline: none;
}

.header__form__icon {
  fill: #ABABAB;
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 15%;
}

.header__btn {
  width: 100%;
}

.header__main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .header__main {
    top: 30%;
  }
}

.header__main__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.header__main__icon {
  display: block;
  height: 7.5rem;
  width: 21rem;
  cursor: pointer;
}

@media only screen and (max-width: 62.5em) {
  .header__main__icon {
    height: 4.5rem;
    width: 13rem;
  }
}

.header__main__icon--google {
  height: 7.5rem;
  width: 26rem;
  margin-left: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 62.5em) {
  .header__main__icon--google {
    height: 4.5rem;
    width: 14.5rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  color: #fff;
  font-size: 1.8rem;
}

@media only screen and (max-width: 75em) {
  .nav {
    width: 100%;
  }
}

@media only screen and (max-width: 75em) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 10%;
  }
}

.nav__logo__img {
  width: 16rem;
  height: 15rem;
}

@media only screen and (max-width: 75em) {
  .nav__logo__img {
    display: none;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 600;
  letter-spacing: 1.8px;
}

.nav__item:not(:last-child) {
  margin-right: 2.5rem;
}

.nav__link {
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__link:hover {
  color: #FF0C00;
}

.section__feature {
  width: 90%;
  margin: auto;
  margin: 6rem auto;
}

@media only screen and (max-width: 75em) {
  .section__feature {
    width: 100%;
  }
}

.section__feature__imgs {
  display: -ms-grid;
  display: grid;
  grid-gap: 5rem;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-top: 6rem;
}

@media only screen and (max-width: 62.5em) {
  .section__feature__imgs {
    grid-gap: 2rem;
    -ms-grid-columns: minmax(25rem, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.section__feature__img {
  display: block;
  width: 25rem;
  height: 35rem;
  border-radius: 8px;
}

.section__about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 48, 54, 0.8)), to(rgba(39, 48, 54, 0.8))), url("Images/Home/theater-background.jpg");
  background: linear-gradient(rgba(39, 48, 54, 0.8), rgba(39, 48, 54, 0.8)), url("Images/Home/theater-background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__about__text {
  width: 60%;
}

@media only screen and (max-width: 62.5em) {
  .section__about__text {
    width: 90%;
  }
}

.section__about__paragraph {
  font-size: 1.8rem;
  color: #fff;
  margin: 3rem 0;
  font-weight: 400;
}

.contact {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
}

@media only screen and (max-width: 75em) {
  .contact {
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    height: 100%;
    margin: 6rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__paragraph {
    font-size: 1.3rem;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  justify-self: center;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .contact__info {
    width: 50%;
    text-align: start;
  }
}

.contact__info__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__info__paragraph {
  margin-left: 2rem;
  padding: 1rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .contact__info__paragraph {
    font-size: 1.3rem;
  }
}

.contact__info__icon {
  fill: #FF0C00;
  display: inline-block;
  height: 2.8rem;
  width: 2.8rem;
}

.contact__form {
  width: 50%;
}

@media only screen and (max-width: 37.5em) {
  .contact__form {
    width: 80%;
    text-align: center;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 62.5em) {
  .contact__form__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__form__input {
  border: none;
  border-bottom: 1px solid #ABABAB;
  padding: 1rem 0rem;
  margin: 5.3rem 0rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__form__input {
    margin: 3rem 0;
    width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__form__input {
    width: 100%;
  }
}

.contact__form__input:focus {
  outline: none;
}

.contact__form__input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.contact__form__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.contact__form__input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.contact__form__input::placeholder {
  font-family: "Poppins", sans-serif;
}

.contact__form__input:nth-child(1) {
  margin-right: 5rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__form__input:nth-child(1) {
    margin-right: 0rem;
  }
}

.contact__form__input:nth-child(2) {
  width: 22.8rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__form__input:nth-child(2) {
    width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__form__input:nth-child(2) {
    width: 100%;
  }
}

.contact__form__input:nth-child(3), .contact__form__input:nth-child(4) {
  display: block;
  width: 45rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__form__input:nth-child(3), .contact__form__input:nth-child(4) {
    width: 60%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__form__input:nth-child(3), .contact__form__input:nth-child(4) {
    width: 100%;
  }
}

.contact__form__input:nth-child(3) {
  margin: 0;
}

.professionals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 48, 54, 0.8)), to(rgba(39, 48, 54, 0.8))), url("/Sass/Images/Home/background_pro.jpg");
  background: linear-gradient(rgba(39, 48, 54, 0.8), rgba(39, 48, 54, 0.8)), url("/Sass/Images/Home/background_pro.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.professionals__wrapper {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 75em) {
  .professionals__wrapper {
    width: 100%;
  }
}

.professionals__cont-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7rem;
}

@media only screen and (max-width: 87.5em) {
  .professionals__cont-1 {
    margin: 4rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .professionals__cont-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    margin: 4rem 0;
    grid-row-gap: 2rem;
  }
}

.professionals__cont-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

@media only screen and (max-width: 37.5em) {
  .professionals__cont-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    justify-items: center;
    grid-row-gap: 2rem;
  }
}

.professionals__figure {
  width: 15%;
  text-align: center;
}

.professionals__figure:not(:last-child) {
  margin-right: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .professionals__figure {
    width: 16rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .professionals__figure:nth-child(5) {
    grid-column: 1/-1;
  }
}

.professionals__text {
  color: white;
  font-size: 2.4rem;
}

@media only screen and (max-width: 37.5em) {
  .professionals__text {
    font-size: 1.5rem;
  }
}

.professionals__img {
  width: 100%;
}

.professionals .img--link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 0.5s ease, -webkit-filter 0.3s;
  transition: -webkit-transform 0.5s ease, -webkit-filter 0.3s;
  transition: transform 0.5s ease, filter 0.3s;
  transition: transform 0.5s ease, filter 0.3s, -webkit-transform 0.5s ease, -webkit-filter 0.3s;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section__email {
  background-color: #f4f4f4;
  height: 60vh;
}

.section__email__cont {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .section__email__cont {
    width: 100%;
  }
}

.section__email__icon {
  font-size: 9rem;
  color: #7f8c8d;
}

.section__email__text {
  text-align: center;
  padding: 2rem 0;
}

.section__email__paragraph {
  font-size: 1.8rem;
}

@media only screen and (max-width: 37.5em) {
  .section__email__paragraph {
    font-size: 1.4rem;
  }
}

.section__email__form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__email__form__input {
  height: 100%;
  width: 40rem;
  padding-left: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: -6px;
}

.section__email__form__input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.section__email__form__input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.section__email__form__input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

.section__email__form__input::placeholder {
  font-family: "Poppins", sans-serif;
}

.section__email__form__btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.section__info__production {
  height: 50rem;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

@media only screen and (max-width: 56.25em) {
  .section__info__production {
    height: 30rem;
  }
}

.section__paragraph {
  font-size: 2rem;
  margin-bottom: auto;
  padding-top: 1.5rem;
}

.big-red {
  font-size: 4rem;
  color: #FF0C00;
  font-family: sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .big-red {
    font-size: 2.4rem;
  }
}

.section__prices {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 75em) {
  .section__prices {
    width: 100%;
  }
}

.section__prices__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 56.25em) {
  .section__prices__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section__prices .section__table {
  text-align: left;
  border-collapse: collapse;
  width: 65%;
  font-size: 1.6rem;
  margin: 5rem 3rem;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .section__prices .section__table {
    width: 95%;
  }
}

.section__prices .section__table__header, .section__prices .section__table__row, .section__prices .section__table__thead, .section__prices .section__table__data {
  padding: 1rem 2rem;
}

@media only screen and (max-width: 37.5em) {
  .section__prices .section__table__row, .section__prices .section__table__thead, .section__prices .section__table__data {
    font-size: 1.3rem;
  }
}

.section__prices .section__table__row:nth-of-type(odd) {
  background-color: #F3F3F3;
}

.section__prices .section__table__header {
  font-size: 3rem !important;
  text-align: left;
  font-size: 2.4rem;
  background-color: #FF0C00;
  color: #fff;
  font-weight: 400;
}

@media only screen and (max-width: 31.25em) {
  .section__prices .section__table__header {
    font-size: 2rem !important;
  }
}

.section__prices .section__table__row:nth-child(1) {
  background-color: #FF0C0078;
  color: #fff;
}

.section__prices .section__table__icon {
  width: 2.5rem;
  height: 2.3rem;
}

.section__prices__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 52rem;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .section__prices__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 2rem;
  }
}

.section__prices__card {
  -webkit-box-shadow: 0 0 24px #0000002E;
          box-shadow: 0 0 24px #0000002E;
  width: 22rem;
  height: 22rem;
  border-radius: 8px;
  overflow: hidden;
  vertical-align: middle;
}

@media only screen and (max-width: 56.25em) {
  .section__prices__card {
    width: 40%;
  }
}

.section__prices__card__title {
  display: block;
  background-color: #FF0C00;
  color: #fff;
  font-size: 2.4rem;
  width: 100%;
}

.section__prices__card__price {
  font-size: 1.7rem;
}

@media only screen and (max-width: 56.25em) {
  .section__prices__card__price {
    font-size: 1.3rem;
    padding: 2rem 0;
  }
}

.section__prices__video {
  width: 75%;
  margin: 3rem auto 6rem auto;
}

.db__wrapper {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.6)), to(rgba(33, 33, 33, 0.6))), url("/Sass/Images/upstageDB/_MG_4680-min.JPG");
  background: linear-gradient(rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.6)), url("/Sass/Images/upstageDB/_MG_4680-min.JPG");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.db__wrapper__cont {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65rem;
}

.paragraph {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3rem;
}

.form {
  width: 100%;
  text-align: center;
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  width: 90%;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: white;
}

.input::-webkit-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.input:-ms-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.input::-ms-input-placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.input::placeholder {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.btn-db {
  width: 91% !important;
}

.login__wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 0.6)), to(rgba(33, 33, 33, 0.6))), url("Images/Home/Tint-2.png");
  background: linear-gradient(rgba(33, 33, 33, 0.6), rgba(33, 33, 33, 0.6)), url("Images/Home/Tint-2.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__wrapper__cont {
  background-color: #fff;
  width: 50rem;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: 0 0 6px #0000007A;
          box-shadow: 0 0 6px #0000007A;
}

.login__form {
  width: 70%;
}

.login__form__input {
  display: block;
  border: none;
  border-bottom: 1px solid #ABABAB;
  color: #ABABAB;
  background: transparent;
  padding-bottom: 1rem;
  width: 100%;
}

.login__form__input:not(:last-child) {
  margin-bottom: 4rem;
}

.login__form__input::-webkit-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.login__form__input:-ms-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.login__form__input::-ms-input-placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.login__form__input::placeholder {
  color: #ABABAB;
  font-family: "Poppins", sans-serif;
}

.forgot__link, .forgot__link:visited, .note {
  color: #ABABAB;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: block;
  margin-left: auto;
  margin-right: 7.2rem;
}

.note {
  position: absolute;
  top: 40%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 50vh;
}

@media only screen and (max-width: 62.5em) {
  .footer {
    height: 30vh;
  }
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

.footer .box-1 {
  background-color: #292929;
}

.footer .box-2 {
  background-color: #313131;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .footer__icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 13vh;
  }
}

.footer__img {
  height: 6rem;
  width: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__img {
    height: 2rem;
    width: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__icon {
    height: 2rem;
    width: 2rem;
  }
}

.footer__text, .footer__number, .footer__copyright {
  font-size: 1.5rem;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .footer__text, .footer__number, .footer__copyright {
    font-size: 1.2rem;
  }
}

.footer a:visited {
  text-decoration: none;
  color: black;
}

.footer__copyright::before {
  background-color: #fff;
  height: 1px;
  width: 80%;
  margin: 3rem auto;
  content: "";
  display: block;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  height: 11.3rem;
}

.footer__item {
  list-style: none;
  height: 3.4rem;
  width: 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 500px;
  margin-left: 1rem;
  cursor: pointer;
}

.footer__item:hover a,
.footer__item:active a {
  color: #FF0C00;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.footer i {
  font-size: 2rem;
}

.sign-up {
  width: 90%;
  margin: auto;
  margin: 15rem auto;
}

@media only screen and (max-width: 75em) {
  .sign-up {
    width: 100%;
  }
}

.sign-up__box-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 6rem;
  text-align: start;
  -ms-grid-columns: (minmax(22rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  margin-top: 6rem;
}

.sign-up__box {
  background-color: #F8F8F8;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55rem;
  border: 1px solid #E1E1E1;
}

.sign-up__box__text {
  font-size: 1.5rem;
  padding: 0 2rem;
  text-align: start;
}

.sign-up-text-wrapper {
  height: 75%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem auto;
}

.sign-up__video {
  width: 100%;
}

.sign-up__video__iframe {
  width: 100%;
}

.sign-up-btn {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sign-up a,
.sign-up a:active {
  color: white;
}

.header__actors {
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.main__video {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.nav__actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  margin: 7rem auto;
}

@media only screen and (max-width: 75em) {
  .section__stars {
    width: 100%;
  }
}

@media only screen and (max-width: 56.25em) {
  .section__stars {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__stars .section__info {
    width: 90%;
  }
}

.section__stars .section__info {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 38%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 56.25em) {
  .section__stars .section__info {
    width: 90%;
    text-align: center;
  }
  .section__stars .section__info .section__video {
    width: 90%;
  }
  .section__stars .section__info .section__stars__btn-cont {
    margin: 2rem 0;
  }
}

.section__stars .section__info .section__stars__cont {
  display: -ms-grid;
  display: grid;
  grid-gap: 6rem;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin: 4rem 0;
}

.section__stars .section__info .section__star {
  -ms-grid-column-align: center;
      justify-self: center;
}

.section__stars .section__info .section__star img {
  height: 6rem;
  width: 6rem;
}

@media only screen and (max-width: 37.5em) {
  .section__stars .section__info .section__star img {
    height: 3rem;
    width: 3rem;
  }
}

.section__stars .section__info .section__text {
  font-size: 1.6rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .section__stars .section__info .section__text {
    font-size: 1.3rem;
  }
}

.section__stars .section__info .section__stars__btn-cont {
  text-align: center;
}

.section__stars .section__info .section__stars__btn-cont p {
  font-size: 3rem;
}

.section__stars .section__video {
  width: 60%;
}

@media only screen and (max-width: 56.25em) {
  .section__stars .section__video {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Signika", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

input {
  font-family: "Poppins", sans-serif;
}

input:focus {
  outline: none;
}

.btn-white {
  padding: 1rem 4.5rem;
  background: transparent;
  border: #FF0C00 solid 1px;
  border-radius: 8px;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-white:hover {
  background: #FF0C00;
}

.btn-red,
.btn-red-form {
  padding: 1rem 4.5rem;
  background: #FF0C00;
  border: #FF0C00 solid 1px;
  border-radius: 8px;
  color: #fff;
  margin-left: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-red-form {
  width: 70%;
}

.burger {
  display: none;
}

.burger .line {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
}

@media only screen and (max-width: 37.5em) {
  body {
    overflow-x: hidden;
  }
  .header__forms {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 50rem;
    min-width: 42rem;
  }
  .nav__links {
    position: absolute;
    top: 10vh;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 90vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .burger {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__logo {
    display: none;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=main.css.map */